<% if logged_on? %>
  <div>
    Hello! <%= session[:email] %>
  </div>
  <% end %>
  
<div class='container'>
  <h3>Users:</h3>
  <ul>
    <% @users.each_with_index do |user, index| %>
      <li> <%= link_to "#{user.name}", show_user_path(index + 1) %></li>
    <% end %>
  </ul>
  <h3>Register user </h3>

  <%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
    <%= f.submit "Create User", class:"create-user" %>
  <% end %>
</div>
