<div class='container'>
  <h3>Users:</h3>
  <ul>
    <% @users.each_with_index do |user, index| %>
      <li> <%= link_to "#{user.name}", show_user_path(index + 1) %></li>
    <% end %>
  </ul>
  <h3>Register user </h3>

  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Create User" %>
  <% end %>
</div>
