<div class='container'>
  <h3>Users:</h3>
  <ul>
    <% @users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>
  <h3>Register user </h3>

  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Create User" %>
  <% end %>
</div>
