<span id="name"><strong>Name: </strong><%= @user.name %></span>
<%= hidden_field_tag "first_name", @user.first_name %>
<%= hidden_field_tag "last_name", @user.last_name %>
<br>
<div id="container"><button id="edit">Edit This User</button></div>


<div id="account_info">
  <h3>Account Info:</h3>
  <strong>Employer</strong>: <%= @account.employer %><br>
  <strong>Acct Number</strong>: <%= @account.account_number %><br>
  <strong>Organization Name</strong>: <%= @account.organization.name %><br>
  <strong>Organization State</strong>: <%= @account.organization.state %>
</div>
<br><br><br><br>
<%= link_to "Back", users_path %>
